<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formsuccess|Bloodlink</title>
        <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- wrapper -->
    <div class=" w-[100vw] h-[100vh] flex flex-col justify-center gap-7 items-center">
        <div class="w-full h-[80px]  flex justify-start items-center px-7">
             <a href="/"><button type="button" class="bg-[#15B6C8] hover:bg-[#39a5b1] px-6 py-3 text-[20px] rounded-xl text-white">Back to Home</button></a>
        </div>
       <div class="flex flex-col h-full w-full justify-center items-center">
        <div> <img src="/images/icons8-tick-200.png" alt="tick icon" ></div>
       <div class="flex flex-col justify-center items-center text-[30px] md:px-0 px-9 md:text-[50px] font-semibold">
        <h1>Your Form has been submitted</h1>
        <h1>You are successfully added to our heros</h1>
       </div>
       </div>
    </div>
</body>
</html>