<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home|Bloodlink</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/fav.png" type="image/x-icon">
     <script src="https://cdn.tailwindcss.com"></script>
   
     <!-- google font -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo&family=Noto+Sans+NKo+Unjoined:wght@400;500;600;700&family=Space+Grotesk&display=swap" rel="stylesheet">
<script defer src="/javascripts/index.js"></script>
  </head>
  <body class="relative">
     <div id="mobmenuslider" class=" right-0 hidden  bg-[#1DB1C5] h-full w-[80%] float-right  fixed ">
      <!-- box -->
      <div class="w-full h-full flex flex-col gap-12">
       <div> <img id="crossbtnmenu" src="/images/icons8-cross-48.png" alt=""></div>
      <ul class="flex flex-col gap-10">
        <li class="bg-[#ffffff] px-4 py-2 rounded-3xl ">Home</li>
        <a href="#urgency"> <li class="hover:text-[#ffffff] px-4 py-2 rounded-3xl transition-all duration-2000">Urgency</li></a>
        <a href="#blog"> <li class="hover:text-[#ffffff] px-4 py-2 rounded-3xl transition-all duration-2000">Blogs</li></a>
          
          <a href="#aboutus"><li class="hover:text-[#ffffff] px-4 py-2 rounded-3xl">About Us</li></a>
          <a href="#footer"><li class="hover:text-[#ffffff] px-4 py-2 rounded-3xl">Contact US</li></a>
      </ul>
      </div>
     </div>
    <!-- wrapper -->
    <div class="w-[100vw] h-[100vh]">
     
      <!-- nav starts -->
      <nav class="flex items-center justify-between px-[3%] text-[20px] h-[80px] w-full text-[#2e2e2e]"> 
        <h1 class="text-[30px] text-[#17324a] font-bold">Blood <span class="text-[#1DB1C5]">Link</span></h1>
        <ul class="md:flex gap-16 hidden cursor-pointer ">
          <li class="bg-[#1DB1C5] px-4 py-2 rounded-3xl ">Home</li>
         <a href="#urgency"><li class="hover:text-[#1DB1C5] px-4 py-2 rounded-3xl transition-all duration-2000">Urgency</li></a>
           <a href="/blogs"> <li class="hover:text-[#1DB1C5] px-4 py-2 rounded-3xl">Blogs</li></a>
         <a href="#footer"> <li class="hover:text-[#1DB1C5] px-4 py-2 rounded-3xl">About Us</li></a>
          <a href="#footer"> <li class="hover:text-[#1DB1C5] px-4 py-2 rounded-3xl">Contact Us</li></a>
       
         
         
        </ul>
        <img id="hamburger" class="md:hidden block px-[3%] h-[60px] w-[60px]" src="/images/icons8-menu.svg" alt="">
      </nav>
      <!-- nav ends here -->
      <!-- hero section -->
      <div class="min-h-[calc(100vh-80px)] md:flex md:flex-row flex-col w-full text-[#2e2e2e]">
        <!-- left side -->
        <div class=" md:h-full md:w-[50%] h-[50%]
        w-full px-10 justify-start font-extrabold py-24 flex flex-col gap-y-16">
        <div>
          <h1 class="text-[80px] text-[#1DB1C5]">Blood </h1>
        <h1 class="text-[80px] text-[#082948]"> Donors</h1>
        </div>

      <div class="text-[20px]">
          <p>A person who gives blood for transfusion is likely an angel send by god himself</p>
        <p>Join the biggest revolution of society</p>
      </div>
      <!-- CTR -->
      <div class="w-full flex justify-start gap-x-8">
        <a href="#urgency"><button type="button" class="bg-[#15B6C8] hover:bg-[#39a5b1] px-6 py-3 text-[20px] rounded-xl text-white">Donate</button></a>
        <a href="#urgency"><button type="button" class="bg-[#082948] hover:bg-[#2b5277] px-6 py-3 text-[20px] rounded-xl text-white">Recieve</button></a>
      </div>
      </div>
        <!-- right side -->
         <div class=" md:h-full md:w-[50%] h-[50%]
        w-full px-10 font-extrabold py-24 justify-center items-start flex">
        <img src="/images/Blood donation-amico.svg" alt="hero image" height="550px" width="550px">
      </div>
      </div>
      <!-- hero section ends here -->

      <!-- slogan -->
      <div class="text-center text-[50px] md:text-[80px] font-bold text-[#2e2e2e]">Be a Donor & save a life</div>
      <!-- bannner section -->
      <div id="banner" class="h-[600px]  w-full text-white flex justify-start items-start px-[7%] py-[3%] cursor-pointer
      ">
        <div class="bannertext drop-shadow-2xl capitalize">
         <div>
           <h1 class="text-[4rem] md:text-[6rem] font-bold">Find your closest</h1>
        <h1 class="text-[4rem] md:text-[6rem] font-bold">Blood donor</h1>
         </div>
        </div>
      </div>
      <br><br><br><br>  
      <!-- stats -->
      <div id="stats" class="bg-[#1DB1C5] min-h-[300px] w-full md:flex md:flex-row flex flex-col justify-around items-center text-[40px] capitalize font-bold gap-16">
        <div>
          <p>Donaters</p>
          <p class="counter-numbers text-[white]">2000+</p>
        </div>

        <div>
          <p>recievers</p>
          <p class="counter-numbers text-[white]">1800+</p>
        </div>

        <div>
          <p>life saved</p>
          <p class="counter-numbers text-[white]">5000+</p>
        </div>
      </div>
      <!-- stats ends here -->
      <!-- donate and recievee starts here -->
      <div id="urgency" class="bg-[#F7F8FC] min-h-[400px]  md:h-[400px] w-full md:flex md:flex-row flex flex-col justify-center gap-24 items-center  py-[18%]">
        <!-- donater card -->
        <div class="bg-[#FFFFFF] rounded-xl h-[350px] w-[350px] md:w-[390px] md:min-h-[390px] border-b-[6px] border-b-[#1DB1C5] drop-shadow-2xl flex flex-col justify-center items-center transition-all duration-700 hover:scale-[1.03] ">
         <div class="flex flex-col justify-center h-full items-center w-full px-6 gap-5">
           <img src="/images/icons8-blood-donation-60.png" alt="">

           <h1 class="text-[40px] font-semibold">Be a Donor</h1>
           <p class="text-center">Be a donor and save a life because your precious blood can save someone's loved once life and get a chance to be an angle for them</p>
           <!-- btn -->
            <a href="/beadonor"><button type="button" class="bg-[#15B6C8] hover:bg-[#39a5b1] px-6 py-3 text-[20px] rounded-xl text-white">Donate Now</button></a>
         </div>
        </div>
     <!--  -->
     <!-- rec card -->
        <div class="bg-[#FFFFFF] rounded-xl h-[350px] w-[350px] md:w-[390px] md:min-h-[390px] border-b-[6px] border-b-[#1DB1C5] drop-shadow-2xl flex flex-col justify-center items-center transition-all duration-700 hover:scale-[1.03]">
         <div class="flex flex-col justify-center h-full items-center w-full px-6 gap-5">
           <img src="/images/icons8-blood-donation-60 (1).png" alt="">

           <h1 class="text-[40px] font-semibold">Get a Donor</h1>
           <p class="text-center">Get a donor and save precious life of your young ones on an urgent time</p>
           <!-- btn -->
            <a href="/getdonors"><button type="button" class="bg-[#15B6C8] hover:bg-[#39a5b1] px-6 py-3 text-[20px] rounded-xl text-white">Get a Donor Now</button></a>
         </div>
        </div>

      </div>
      <!-- BLOG section starts here -->
      <div id="blog" class="min-h-[1000px] w-full bg-[#F7F8FC] grid">
        <h1 class="text-[65px] text-[#2E2E2E] text-center font-bold">Read Our Latest Blogs</h1>
        <!-- body -->
        <div class="h-full w-full grid md:grid-rows-2  md:grid-cols-2 grid-cols-1 grid-rows-4 gap-9 px-[10%] py-[5%] ">
          <!-- blog card 1 -->
          <div class="bg-white md:h-[325px] h-[525] w-[300px]  md:w-[600px]  rounded-xl drop-shadow-2xl md:flex md:flex-row flex flex-col px-4 py-4 hover:scale-[1.03] transition-all duration-700   ">
            <!-- left -->
            <div class="md:h-full md:w-[40%] h-[40%] w-full">
  <img src="/images/blog1.jpg" alt="" class="object-cover w-full h-full">
</div>

            <div class="md:h-full md:w-[60%] h-[60%] w-full  flex justify-center items-center gap-9 flex-col ">
              <h1 class="text-[25px] capitalize font-medium">Benefits of daily walk</h1>
              <p class="text-[#2E2E2E] text-center">Walking, a simple yet powerful exercise, has been a fundamental part of human life for centuries. Whether it's a leisurely stroll through the park, a brisk walk during lunch break,   overall well-being... <a href="/blogs" class="text-[#1DB1C5]">Read more</a></p>
              
            </div>
          </div>
          <!-- blog card 2 -->
         <div class="bg-white md:h-[325px] h-[525] w-[300px]  md:w-[600px]  rounded-xl drop-shadow-2xl md:flex md:flex-row flex flex-col px-4 py-4 hover:scale-[1.03] transition-all duration-700   ">
            <!-- left -->
            <div class="md:h-full md:w-[40%] h-[40%] w-full">
  <img src="/images/blog2.jpg" alt="" class="object-cover w-full h-full">
</div>

            <div class="md:h-full md:w-[60%] h-[60%] w-full  flex justify-center items-center gap-9 flex-col ">
              <h1 class="text-[25px] capitalize font-medium">Nourishing Your Body</h1>
              <p class="text-[#2E2E2E] text-center">In a world filled with tempting fast food options and processed snacks, maintaining a healthy and balanced diet is crucial for overall well-being. Healthy eating is not just a diet; it's a lifestyle that fuels your body with the nutrients it needs to function optimally. In this blog post ... <a href="/blogs" class="text-[#1DB1C5]">Read more</a></p>
              
            </div>
          </div>
          <!-- blog card 3 -->
         <div class="bg-white md:h-[325px] h-[525] w-[300px]  md:w-[600px]  rounded-xl drop-shadow-2xl md:flex md:flex-row flex flex-col px-4 py-4 hover:scale-[1.03] transition-all duration-700   ">
            <!-- left -->
            <div class="md:h-full md:w-[40%] h-[40%] w-full">
  <img src="/images/blog3.jpg" alt="" class="object-cover w-full h-full">
</div>

            <div class="md:h-full md:w-[60%] h-[60%] w-full  flex justify-center items-center gap-9 flex-col ">
              <h1 class="text-[25px] capitalize font-medium"> Preventing Heart Disease</h1>
              <p class="text-[#2E2E2E] text-center">Heart disease, often referred to as cardiovascular disease, is a pervasive health concern that affects millions of lives worldwide. As the leading cause of death globally, it is imperative to raise awareness about heart disease, understand its complexities, ... <a href="/blogs" class="text-[#1DB1C5]">Read more</a></p>
              
            </div>
          </div>

          <!-- blog card 4 -->
          <div class="bg-white md:h-[325px] h-[525] w-[300px]  md:w-[600px]  rounded-xl drop-shadow-2xl md:flex md:flex-row flex flex-col px-4 py-4 hover:scale-[1.03] transition-all duration-700   ">
            <!-- left -->
            <div class="md:h-full md:w-[40%] h-[40%] w-full">
  <img src="/images/blog5.jpg" alt="" class="object-cover w-full h-full">
</div>

            <div class="md:h-full md:w-[60%] h-[60%] w-full  flex justify-center items-center gap-9 flex-col ">
              <h1 class="text-[25px] capitalize font-medium">mind matters</h1>
              <p class="text-[#2E2E2E] text-center">In the intricate dance of life, mental health plays a central role, influencing how we think, feel, and navigate the world around us. Yet, the significance of mental In this blog post, we embark on a journey to explore the intricacies of mental ... <a href="/blogs" class="text-[#1DB1C5]">Read more</a></p>
              
            </div>
          </div>
          
        </div>
      </div>
      <!-- blogs section ends here -->

    <!--  -->
    <!-- founder section -->
    <div  class=" w-full min-h-[600px] text-center">
      
       <h1 id="aboutus" class="text-[65px] md:text-[85px] font-bold">Meet Our <span class="text-[#1DB1C5] ">Founders</span></h1>
       <hr class="w-full bg-[#1DB1C5]">
       <div class=" w-full h-full md:flex md:flex-row flex flex-col">
        <!-- left -->
        <div class="md:h-full h-[50%] w-full md:w-[50%]  flex flex-col gap-8 justify-center items-center px-4 py-6">
        <img src="/images/himanshudev.jpg"  class="rounded-full md:h-[300px] md:w-[300px] h-[200px] w-[200px]" >
         <h1 class="md:text-[45px] text-[35px] font-semibold">Himanshu Kandari</h1>
         <div>
           <h1 class="md:text-[35px] text-[25px] font-semibold text-[#4b4b4b]">Founder,Developer</h1>
          <h1 class="md:text-[25px] text-[20px] font-medium text-[#4b4b4b]">University Student</h1>
         </div>
        </div>
        <!-- right -->
         <div class="md:h-full h-[50%] w-full md:w-[50%]  flex flex-col gap-8 justify-center items-center  px-4 py-6 ">
          <img src="/images/mukul.png"  class="rounded-full md:h-[300px] md:w-[300px] h-[200px] w-[200px]" >
          <h1 class="md:text-[45px] text-[35px] font-semibold">Mukul Nagpal</h1>
          <div>
            <h1 class="md:text-[35px] text-[25px] font-semibold text-[#4b4b4b]">Co-Founder,Developer</h1>
          <h1 class="md:text-[25px] text-[20px] font-medium text-[#4b4b4b]">University Student</h1>
          </div>
        </div>
        
       </div>
       <br><br>
       <!-- message from founders -->
       <div class="w-full min-h-[600px]  px-[10%] py-[6%]">
         <h1 class="text-[42px] md:text-[65px] font-bold">Message from <span class="text-[#1DB1C5] ">Founders</span></h1>
         <div class="w-full h-[80%]  px-[10%] text-center">
          <p class="md:text-[30px] text-[22px] text-[#4B4B5C]">
            We're beyond excited to welcome you to our blood donation revolution at here! 🩸 As the founders, we wanted to drop you a quick message to share our enthusiasm and gratitude for joining us on this life-saving journey.

this isn't just a website; it's a movement fueled by the belief that every drop counts. Created by a us , we've poured our hearts into making this platform a game-changer.
          </p>
         </div>

       </div>
    </div>

    <!-- footer -->
    <footer id="footer" class="w-full py-[3%]  bg-[#1DB1C5] h-[350px]">
      
    <div class="w-full h-full grid grid-rows-4 grid-cols-2 text-center gap-1">
    <div class="text-[22px] font-semibold text-white">Menu</div>
    <div class="text-[22px] font-semibold text-white">Services</div>
    <div class="text-white text-[20px]"><a href="">About Us</a></div>
    <div class="text-white text-[20px]"><a href="">Blogs</a></div>
    <div class="text-white text-[20px]"><a href="">Founders</a></div>
   <div id="footer" class="text-white text-[20px]">Contact us</div></a>
    <div class="text-white text-[20px]"><a href="">Health</a></div>
    <div class="text-white text-[20px]"><a href="">Fitness</a></div>
</div>
 <hr class="w-full bg-[#E5E7EB]">
 
<h1 class="text-center text-[20px] md:text-[25px] w-full bg-[#1DB1C5] text-white">Copyrights © and all rights reserved @BloodLink 2023</h1>


    </footer>
      
    </div>
  </body>
</html>
